#pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.transparent {
    background-color: rgba(88, 29, 29, 0.5);
}

.transparent {
    opacity: 0.5;
}

.mob_main {
    text-align: center;
    color: #fff;
    /*background-image: url('./download-bg.jpeg');*/
    background:url('../../images/download-bg.jpeg')rgba(22, 11, 36, 0.3);
    background-position: center;
    background-size: cover;  
    height: fit-content;
}


.mob_second {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-image: url('../../images/newsletter-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.mob_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mob_form input,
.mob_form button {
    margin-top: 1em;
    text-align: center;
    width: 100%;
    height: 3em;
}